
{% if threaded %}
{{ attach_library('classy/drupal.comment.threaded') }}
{% endif %}
{%
set classes = [
'comment',
'js-comment',
status != 'published' ? 'comment--' ~ status,
comment.owner.anonymous ? 'by-anonymous',
author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
'clearfix',
]
%}
<article role="article"{{ attributes.addClass(classes)|without('role') }}>
{#
Hide the "new" indicator by default, let a piece of JavaScript ask the
server which comments are new for the user. Rendering the final "new"
indicator here would break the render cache.
#}
<span class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></span>
<div class="row">
<div class="comment-author-picture col-lg-2 col-md-2 col-sm-12 col-xs-12"> 
{{ user_picture }}
</div>
<div class="comment-content col-lg-10 col-md-10 col-sm-12 col-xs-12">
<div{{ content_attributes.addClass('comment__content') }}>
{% if title %}
{{ title_prefix }}
<h3{{ title_attributes.addClass('comment_title') }}>{{ title }}</h3>
{{ title_suffix }}
{% endif %}
<div class="comment__meta">
<span class="comment-author-name"><i class="fa fa-user"></i> {{ author }}</span>&nbsp;&nbsp;&nbsp;
<span class="comment-created"><i class="fa fa-clock-o"></i> {{ created }}</span>
<p class="comment__permalink">{{ permalink }}</p>
{% if parent %}
<p class="visually-hidden">{{ parent }}</p>
{% endif %}
</div>
{{ content|without('links') }}
{% if content.links %}
<nav>{{ content.links }}</nav>
{% endif %}
</div>
</div>
</div>
</article>
